{{ $json := .json }}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-lg-0 g-4">
    {{ range $json }}
    <div class="col">
        <div class="card h-100">
            {{ partial "components/image.html" (dict "ctx" . "image" .image) }}
            <div class="card-body d-flex flex-column">
                <h2 class="h3 text-center card-title">{{.title}}</h2>
                <p class="card-text text-center">{{.text}}</p>

                {{ with .link }}
                <a class="mt-auto btn btn-outline-secondary" href="{{.href}}">
                    {{.text}}
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>