{{/*
    Usage: 
    {{ partial "components/column.html" .Page.Params.column }}

    Data:
    column:
        - title: Card 1
          text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odit temporibus quia sed laborum!
          link:
            href: https://...
          image:
            src: "images/sample-8.jpg"
            alt: ""
*/}}

<a href="{{.link.href}}" {{ if not .link.href}} class="pe-none" {{end}}>
    <div class="column">
        {{ with .images }}
            {{ partial "components/image-col-6.html" (dict "ctx" . "images" . ) }}
        {{ end }}

        <div class="column__content text-left ">
            <h3 class>{{.title}}</h3>

            {{ with .text }}
                <p>{{.}}</p>
            {{ end }}

            {{ with .link }}
                {{ if .href }}
                <div class="navigation__div mt-2 text-center">
                    <span class="icon bi bi-arrow-right-short"></span>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</a>