{{/*
    Usage: 
    {{ partial "components/column.html" .Page.Params.column }}

    Data:
    column:
        - title: Card 1
          text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus odit temporibus quia sed laborum!
          link:
            href: https://...
          image:
            src: "images/sample-8.jpg"
            alt: ""
*/}}

<a href="{{.link.href}}" class="text-reset text-decoration-none {{ if not .link.href}} pe-none{{end}}">
    <div class="flex-column hover rounded bg-white shadow">
        {{ with .images }}
            {{ partial "components/image-col-6.html" (dict "ctx" . "images" . ) }}
        {{ end }}

        <div class="p-2">
            <h3 class="h4">{{.title}}</h3>

            {{ with .text }}
                <p>{{.}}</p>
            {{ end }}

            {{ with .link }}
                {{ if .href }}
                <div class="h3 text-center m-auto">
                    <span class="icon bi bi-arrow-right-short"></span>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</a>