{{/*
    Usage:
    {{ partial "images/images-col-6.html" (dict "ctx" . "images" .images ) }}
    
    Object:
    images:
    - image.jpg
    - image.jpg
*/}}

{{ $size := len .images }}
{{ if eq $size 1 }}
    {{ with index .images 0 }}
        {{ partial "images/image.html" . }}
    {{ end }}
{{ else }}
    {{ $entry := delimit (shuffle (seq 1 9)) "" }}
    <div id="id-{{$entry}}" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{ $counter := 0 }}
            {{ range .images }}
            <div class="carousel-item {{ if eq $counter 0}}active{{end}}" style="background-color: #f0f1f5;">
                {{ partial "images/image.html" . }}
            </div>
            {{ $counter = add $counter 1 }}
            {{ end }}
        </div>
        {{ if gt $counter 1 }}
        <div class="carousel-indicators">
            {{ $counter_2 := 0 }}
            {{ range .images }}
            <button type="button" data-bs-target="#id-{{$entry}}" data-bs-slide-to="{{$counter_2}}"
                    class="{{ if eq $counter_2 0}}active{{end}}"></button>
            {{ $counter_2 = add $counter_2 1 }}
            {{ end }}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#id-{{$entry}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#id-{{$entry}}" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
        {{ end }}
    </div>
{{ end }}