{{ $image := resources.GetMatch .image_input }}

{{ $image_large := $image.Fill "1300x550 q95" }}
{{ $image_tablet := $image.Fill "768x450 q100" }}
{{ $image_mobile := $image.Fill "350x250 q100" }}

<div class="component">
    <div class="container">
        <picture>
            <source media="(min-width:992px)" srcSet="{{$image_large.RelPermalink}}">
            <source media="(min-width:768px)" srcSet="{{$image_tablet.RelPermalink}}">
            <img src="{{$image_mobile.RelPermalink}}">
        </picture>
    </div>
</div>