<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}",
        "description": "{{ .Page.Params.description }}",
        "thumbnailUrl": "{{ with .Page.Params.image }} {{ . | absURL}} {{else}} {{.Site.Params.ogImage}} {{end}}",
        "image": "{{ with .Page.Params.image }} {{ . | absURL}} {{else}} {{.Site.Params.ogImage}} {{end}}",
        "keywords": "{{ with .Site.Params.keywords }}{{ delimit . ", "}}{{ end }}, {{ with .Params.keywords }}{{ delimit . ", "}}{{ end }}",
        "headline": "{{with .Page.Title }} {{.}} {{else}}{{.Site.Title}}{{end}}"
    }
</script>