.btn {
    padding-left:$spacing-sm;
    padding-right:$spacing-sm;
    border-radius: 24px!important;
    border-color:black;

    &:hover {
        background-color: #edebeb;
    }

    margin-top:.5rem;
    font-size: 18px;
}
