.width-sm {
    width: $size-sm;
    height: 25px;
}

.width-md {
    width: $size-md;
    height: 25px;
}

.width-lg {
    width: $size-lg;
    height: 25px;
}

.width-xl {
    width: $size-xl;
    height: 25px;
}

.width-xxl {
    width: $size-xxl;
    height: 25px;
}