{{ with .Site.Params.email }}
<div>
    <a class="btn btn-outline bi bi-envelope" href="mailto:{{.}}">
        {{ i18n "contact-us" }}
    </a>
</div>
{{ end }}

{{ with .Translations }}
<div class="dropdown">
    <a class="btn btn-outline dropdown-toggle bi bi-globe2" href="#" role="button"
        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {{ i18n "language" }}
    </a>

    <ul class="language dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{ range . }}
        <li class="language__item dropdown-item">
            <a href="{{.Permalink}}" class="{{.Language}}">{{.Language.LanguageName | upper}}</a>
        </li>
        {{end}}
    </ul>
</div>
{{ end }}