<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer__heading">
                    <a><h3>{{ .Site.Title }}</h3></a>
                </div>
                <div class="footer__content">

                    {{ range $.Site.Data.Footer.col1.links }}
                        {{ if .url }}
                        <li style="list-style: none;">
                            <a href="{{.url}}">
                                {{.title}}
                            </a>
                        </li>
                        {{ else }}
                        <p>{{.title}}</p>
                        {{ end }}
                    {{end}}
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4" style="text-align: right;">
               Webdesign: Balevik IT & WEB
            </div>
        </div>
    </div>
</footer>