<header class="header">

    {{ partial "layout/language_selector.html" . }}

    <nav class="navigation">
        <div class="container">
            <div class="header__title">
                <a href="{{ .Site.Home.Permalink }}">
                    {{ .Site.Title }}
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navigation__items">
                <div class="container">
                    {{ partial "layout/navigation.html" . }}
                </div>
            </div>
        </div>
    </nav>
</header>