<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="mobile-container d-flex justify-content-between">
                <a class="navbar-brand" href="{{ .Site.Home.Permalink }}">
                    {{ if .Site.Params.logo }}
                    <img alt="logo" src="/{{.Site.Params.logo}}" />
                    {{ else }}
                    {{ .Site.Title }}
                    {{ end }}
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarScroll">
                {{ $currentPage := . }}
                {{ $section := .Site.GetPage $currentPage.Section }}

                <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
                    {{ range .Site.Menus.main.Sort }}
                    <li class="nav-item">
                        <a class="nav-link {{if $section.IsMenuCurrent "main" . }}active{{end}}" aria-current="page"
                            href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{end}}

                    <li class="d-lg-none d-flex mt-5 justify-content-center">
                        {{ partial "layout/action_items.html" . }}
                    </li>
                </ul>

                <div class="d-flex gap-2 mt-4 mt-lg-0">
                    {{ partial "layout/action_items.html" . }}
                </div>
            </div>
        </div>
    </nav>
</header>