<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<base href="{{ .Permalink }}">

<link rel="prefetch" href="{{ .Permalink }}" />
<meta name="apple-mobile-web-app-title" content="{{ .Title }}">

<meta name="theme-color" content="#FFFFFF">

<meta name="description" content="{{ .Params.description }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> 
<meta name="language" content="{{ .Language.LanguageName }}">

{{ with .Params.image }} 
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" /> 
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 

<meta property="og:type" content="website" /> 
<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />

{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}


