<div class="collapse navbar-collapse flex-row-reverse" id="navbarToggler">
    {{ partial "components/navigation-action.html" }}
    {{ $currentPage := . }}
    {{ $section := .Site.GetPage $currentPage.Section }}

    <ul class="navbar-nav mb-2 mb-lg-0">
        {{ range sort .Site.Menus.main.ByWeight }}
        <li class="nav-item">
            <a class="nav-link {{if $section.IsMenuCurrent "main" . }}active{{end}}" aria-current="page" href="{{ .URL }}">
                {{ .Name }}
            </a>
        </li>
        {{end}}
    </ul>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">{{ i18n "menu" }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {{ partial "components/navigation-action.html" }}
        {{ $currentPage := . }}
        {{ $section := .Site.GetPage $currentPage.Section }}
    
        <ul class="navbar-nav mb-2 mb-lg-0">
            {{ range sort .Site.Menus.main.ByWeight }}
            <li class="nav-item">
                <a class="nav-link {{if $section.IsMenuCurrent "main" . }}active{{end}}" aria-current="page"
                    href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{end}}
        </ul>
    </div>

    {{ partial "layout/language_selector.html" . }}
</div>