.banner {
    background-color: $banner-color;
    padding: $spacing-md 0;

    @include tablet(){
        padding: $spacing-sm 0;
    }

    h1 {
        margin:unset;
    }

    p {
        margin-top: $spacing;
    }
}