.banner {
    background-color: $banner-color;
    padding: $spacing-xl 0;

    @include tablet(){
        padding: $spacing-md 0;
    }

    h1 {
        margin:unset!important;
        line-height: .82;
    }

    p {
        margin-top: $spacing-sm;
    }
}