.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.177);
}

.carousel-inner {
    background:transparent;

    img {
        display: block;
        margin:auto;
        opacity:0.95;
        object-fit:cover!important;
    }
}

