.carousel-inner {
    background: transparent;

    img {
        display: block;
        margin: auto;
        opacity: 0.95;
        object-fit: cover !important;
    }
}

.carousel-control-prev,
.carousel-control-prev,
.carousel-control-next,
.carousel-control-next {
    color: #fff;
    text-decoration: none;
    outline: 0;
    filter: brightness(10%);
    opacity: 1 !important;
}