.column {
    height: 100%;
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.102);
    overflow: hidden;

    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

    display: flex;
    flex-flow: column;

    img {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    h1,h2,h3,h4,h5 {
        margin-top: unset;
    }

    box-shadow: var(--shadow-1);

    &__content {
        @extend .fluid-box;
        background-color: white!important;

        flex: 1;
        display: flex;
        flex-direction: column;

        p {
            font-size: 20px;
        }

        .icon {
            font-size: 2.5rem!important;

            @include tablet(){
                font-size: 2rem!important;
            }
        }

        .navigation__div {
            margin-bottom: -18px;
            margin-top: auto!important;
        }
    } 
}

.col-lg-4 {
    .column {
        h3 {
            @extend .h5;
            @extend .text-center;
        }

        &__content {
            .icon {
                @extend .h2;
            }
        }
    }
}

a {
    .column {
        &:hover {
            border: 1px solid black;
            box-shadow: var(--shadow-4);
        }
    }
}

