.column {
    height: 100%;
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.102);
    overflow: hidden;

    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

    img {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    h1,h2,h3,h4,h5 {
        margin-top: unset;
    }

    box-shadow: var(--shadow-1);

    &:hover {
        border: 1px solid black;
        box-shadow: var(--shadow-4);
    }

    &__content {
        @extend .fluid-box;
        @extend .h-100;
        background-color: white!important;

        p {
            font-size: 20px;
        }

        .icon {
            @extend .h1;
        }
    } 
}

.col-lg-4 {
    .column {
        h3 {
            @extend .h5;
            @extend .text-center;
        }

        &__content {

            .icon {
                @extend .h2;
            }
        }
    }
}




.inline-column {
    .column {
        display: flex;
        @include tablet(){
            display: block;
        }
        img {
            border-bottom-left-radius: 6px;
            border-top-right-radius: 0;
            height: 100%;
            width:100%;

            @include tablet(){
                border-bottom-left-radius: 0;
            }
        }

        &__content {
            @extend .my-auto;
            @include desktop(){
                max-width: 50%;
            }

            background-color: white;
        }
    }
}

