.content-block {
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: $size-md;
    }

    p {
        margin-bottom: unset;
    }
}

@include tablet() {
    .row {
        div[class^="col"]:not(:last-child) {
            .content-block {
                margin-bottom: $size-lg*1.2;
            }
        }
    }
}