.markdown {
    img + h1,
    picture + h1 {
        margin-top: $spacing-default;

        @include tablet(){
            margin-top: $spacing-tablet;
        }
    }

    h1:first-child {
        margin-top:unset;

        @include tablet(){
            margin-top:$spacing!important;
        }
    }
    
    h1,h2,h3,h4,h5 {
        margin-top: $spacing-default;

        @include tablet(){
            margin-top: $spacing-tablet;
        }
    }
}