/* HEADING */
$primary-heading-color: #151927;

/* TEXT */
$primary-text-color: #2c2f3c;
$link-text-color: #434652;

/* ELEMENTS */
$component-color: #f4f6f9;
$footer-color: #000000;

/* LAYOYT */
$banner-color: #f4f6f9;