$size-df: 1rem;
$size-sm: $size-df * .5;
$size-md: $size-df;
$size-lg: $size-df * 2;
$size-xl: $size-df * 4;
$size-xxl: $size-df * 6;

.width-sm {
    width: $size-sm;
    height: 25px;
}

.width-md {
    width: $size-md;
    height: 25px;
}

.width-lg {
    width: $size-lg;
    height: 25px;
}

.width-xl {
    width: $size-xl;
    height: 25px;
}

.width-xxl {
    width: $size-xxl;
    height: 25px;
}


$heading-h1: 2.25rem;
$heading-h2: 2rem;
$heading-h3: 1.75rem;
$heading-h4: 1.5rem;
$heading-h5: 1.32rem;
$text: 1.2rem;

.heading-h1 {
    font-size: $heading-h1!important;
}

.heading-h2 {
    font-size: $heading-h2!important;
}

.heading-h3 {
    font-size: $heading-h3!important;
}

.heading-h4 {
    font-size: $heading-h4!important;
}

.heading-h5 {
    font-size: $heading-h5!important;
}