$size-sm: 0.625rem;
$size-md: 1.4rem;
$size-lg: 2.6rem;
$size-xl: 4.8rem;

$heading-h1: 3.35rem;
$heading-h2: 2.35rem;
$heading-h3: 2.05rem;
$heading-h4: 1.75rem;
$heading-h5: 1.32rem;
$text: 1.2rem;

.heading-h1 {
    font-size: $heading-h1!important;
}

.heading-h2 {
    font-size: $heading-h2!important;
}

.heading-h3 {
    font-size: $heading-h3!important;
}

.heading-h4 {
    font-size: $heading-h4!important;
}

.heading-h5 {
    font-size: $heading-h5!important;
}