$spacing: 1rem;
$spacing-sm: $spacing * 1.5;
$spacing-md: $spacing * 3;
$spacing-lg: $spacing * 4.5;
$spacing-xl: $spacing * 6;

/* GLOBAL */
$spacing-default: $spacing-md;
$spacing-tablet: $spacing-sm;

