.paragraph-lg {
    font-size: $size-400!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.paragraph-md {
    font-size: $size-300!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.paragraph-sm {
    font-size: $size-200!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.ingress-lg {
   font-size: $size-600!important; 
   font-weight: 400!important;
   line-height: 1.7!important;
}

.ingress-md {
    font-size: $size-500!important; 
    font-weight: 400!important;
    line-height: 1.7!important;
 }

 .ingress-sm {
    font-size: $size-400!important; 
    font-weight: 400!important;
    line-height: 1.7!important;
 }