.paragraph-lg {
    font-size: $size-400!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.paragraph-md {
    font-size: $size-300!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.paragraph-sm {
    font-size: $size-200!important;
    font-weight: 400!important;
    line-height: 1.5!important;
}

.ingress-lg {
   font-size: $size-600!important; 
   font-weight: 400!important;
   line-height: 1.7!important;
}

.ingress-md {
    font-size: $size-500!important; 
    font-weight: 400!important;
    line-height: 1.7!important;
 }

 .ingress-sm {
    font-size: $size-400!important; 
    font-weight: 400!important;
    line-height: 1.7!important;
 }

 .heading-xl {
     font-size: $size-900!important;
     font-weight: 500!important;
     line-height: 1.3!important;
 }

 .heading-lg {
    font-size: $size-800!important;
    font-weight: 500!important;
    line-height: 1.3!important;
}

.heading-md {
    font-size: $size-700!important;
    font-weight: 500!important;
    line-height: 1.3!important;
}

.heading-sm {
    font-size: $size-600!important;
    font-weight: 500!important;
    line-height: 1.3!important;
}

.heading-xs {
    font-size: $size-500!important;
    font-weight: 500!important;
    line-height: 1.3!important;  
}