@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400');
@import "mixin/mixin";
@import "base/size";

$heading-font: 'Poppins';
$text-font: 'Inter';

html {
  font-size: 101%;
  /*16px*/
}

.ingress {
  font-family: $text-font, sans-serif;
  font-weight: 500!important;
  font-size: $text + 0.2rem;
}

body {
  background: white;
  font-family: $heading-font, sans-serif;
  font-weight: 300;
  line-height: 1.67;
  color: #1b2838;
}

p,
a,
li {
  font-size: $text;
  font-family: $text-font, sans-serif;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem 0;
  font-family: $heading-font, sans-serif;
  font-weight: 400;
  line-height: 1.2;

  @include tablet() {
    font-size: calc(1.6em + 1vmin) !important;
  }
}

h1 {
  margin-bottom: $size-md;
  font-size: $heading-h1;
  font-weight: 500;
  line-height: 1.11;

  @include tablet() {
    font-size: calc(#{$heading-h1} / 1.7 + 1vmin) !important;
  }
}

h2 {
  font-size: $heading-h2;

  @include tablet() {
    font-size: calc(#{$heading-h2} / 1.7 + 1vmin) !important;
  }
}

h3 {
  font-size: $heading-h3;

  @include tablet() {
    font-size: calc(#{$heading-h3} / 1.7 + 1vmin) !important;
  }
}

h4 {
  font-size: $heading-h4;

  @include tablet() {
    font-size: calc(#{$heading-h4} / 1.7 + 1vmin) !important;
  }
}

h5 {
  font-size: $heading-h5;

  @include tablet() {
    font-size: calc(#{$heading-h5} / 1.7 + 1vmin) !important;
  }
}

small,
.text_small {
  font-size: 0.833rem;
}