<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>

    <title>
        {{ block "title" . }}
        {{ if not .Page.IsHome }}
        {{.Page.Title}}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
        {{ end }}
    </title>

    {{ partial "seo/meta.html" . }}
    {{ partial "seo/links.html" . }}
    {{ partial "layout/head.html" . }}

    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

</head>

<body>

    {{ partial "layout/header.html" . }}

    <main>
        {{ block "main" . }}
        {{end}}
    </main>

    {{ partial "accessibillity/to-top-button.html" . }}
    {{ partial "layout/footer.html" . }}

</body>

{{ partial "seo/schema.html" . }}
{{ partial "seo/script.html" . }}

</html>