<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>

    <title>
        {{ block "title" . }}
            {{ if not .Page.IsHome }}
                {{.Page.Title}} | {{ .Site.Title }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        {{ end }}
    </title>
    
    {{ partial "seo/links.html" . }}
    {{ partial "seo/meta.html" . }}

</head>

<body>
    {{ partial "layout/header.html" . }}
    <main>
        {{ block "main" . }}
        {{end}}
    </main>
    {{ partial "accessibillity/scroll-top-button.html" . }}
    {{ partial "layout/footer.html" . }}
</body>

{{ partial "seo/schema.html" . }}
{{ partial "seo/script.html" . }}

</html>