<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>

    <title>
        {{ block "title" . }}
        {{ if not .Page.IsHome }}
        {{.Page.Title}}
        {{ else }}
        {{ .Site.Title }}
        {{ end }}
        {{ end }}
    </title>

    {{ partial "layout/meta.html" . }}
    {{ partial "layout/links.html" . }}
    {{ partial "layout/head.html" . }}

</head>

<body>

    {{ partial "layout/header.html" . }}

    <main>
        {{ block "main" . }}
        {{end}}
    </main>

    {{ partial "components/to-top-button.html" . }}
    {{ partial "layout/footer.html" . }}

</body>

{{ partial "layout/script.html" . }}

</html>