{{/*
    Usage:
    {{ partial "components/image-square.html" . }}

    Data:
    image_1:
    src: "images/sample-4.jpg"
    alt: ""
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_large := $image.Fill "960x740 q90" }}
{{ $image_medium := $image.Fill "640x527 q95" }}
{{ $image_small := $image.Fill "480x420 q100" }}

<picture>
    <source media="(min-width: 992px)" srcset="{{ $image_large.RelPermalink }}">
    <source media="(min-width: 768px)" srcset="{{ $image_medium.RelPermalink }}">
    <img {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy" src="{{ $image_small.RelPermalink }}">
</picture>