{{/*
    Usage: 
    {{ partial "components/image_banner.html" . }}

    Data:
      image_1: 
        src: "images/sample-4.jpg"
        alt: ""
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_medium := $image.Fill "1366x625 q40" }}
{{ $image_small := $image.Fill "768x425" }}
{{ $image_mobile := $image.Fill "375x325" }}
{{ $placeholder := $image.Fill "375x325 q10" }}

<picture>
    <source media="(min-width: 992px)" srcset="{{ $image_medium.RelPermalink }}">
    <source media="(min-width: 576px)" srcset="{{ $image_small.RelPermalink }}">
    <img {{ with .alt }}alt="{{ . }}"{{ end }} src="{{ $image_mobile.RelPermalink }}" width="{{ $image_small.Width }}" height="{{ $image_small.Height }}">
</picture>