{{/*
    Usage:
    {{ partial "components/image.html" . }}

    Data:
    image_1:
    src: "images/sample-4.jpg"
    alt: ""
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_large := $image.Fill "1280x720" }}
{{ $image_medium := $image.Fill "854x480" }}
{{ $image_small := $image.Fill "640x360" }}

<picture>
    <source media="(min-width: 992px)" srcset="{{ $image_large.RelPermalink }}">
    <source media="(min-width: 768px)" srcset="{{ $image_medium.RelPermalink }}">
    <img {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy" src="{{ $image_small.RelPermalink }}" width="{{ $image_small.Width }}" height="{{ $image_small.Height }}">
</picture>