{{/*
    Usage: 
    {{ partial "components/image_banner.html" . }}

    Data:
      image_1: 
        src: "images/sample-4.jpg"
        alt: ""
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_medium := $image.Fill "1313x578 q30" }}
{{ $placeholder := $image.Fill "1313x578 q8" }}
<div class="image-banner" style="max-height: {{$image_medium.Height}}px;width: auto; background-size: cover, contain!important; background-position: center; background-repeat: no-repeat; background-image: url(data:{{ $image.MediaType }};base64,{{ $placeholder.Content | base64Encode }})">
    <picture>
        <img style="opacity: 1" {{ with .alt }}alt="{{ . }}"{{ end }} loading="lazy" src="{{ $image_medium.RelPermalink }}" width="{{ $image_medium.Width }}" height="{{ $image_medium.Height }}">
    </picture>
</div>