{{/*
    Usage:
    {{ partial "components/image.html" . }}

    Data:
    image_1:
    src: "images/sample-4.jpg"
    alt: ""
*/}}

{{ $image := resources.GetMatch .src }}
{{ $image_small := $image.Fill "648x390" }}
{{ $placeholder := $image.Fill "648x390 q8" }}
<div class="image" style="overflow: hidden; max-height: {{$image_small.Height}}px;width: auto; background-repeat: no-repeat; background-size: 100% 100%; background-image: url(data:{{ $image.MediaType }};base64,{{ $placeholder.Content | base64Encode }})">
    <picture>
        <img style="opacity: 1;" {{ with .alt }}alt="{{ . }}" {{ end }} loading="lazy" fetchpriority="low" src="{{ $image_small.RelPermalink }}" width="{{ $image_small.Width }}" height="{{ $image_small.Height }}">
    </picture>
</div>