.component {

    &:nth-child(odd){
        background-color: $component-color;
    }

    padding-top: 4rem;
    padding-bottom: 4rem;

    @include tablet() {
        padding-top: $size-xl;
        padding-bottom: $size-xl;
    }

    .row {
        &:last-of-type{
            margin-bottom: 0!important;
        }

        &:first-of-type {
            margin-top: 0!important;
        }
    }
}