$spacing-default: $spacing-md;
$spacing-tablet: $spacing-sm;

.component {
    &:nth-child(odd){
        background-color: $component-color;
    }

    padding: $spacing-default 0;

    @include tablet() {
        padding: $spacing-tablet 0;
    }

    @include mobile() {
        padding: $spacing 0;
    }
}