.container {
    max-width:1809px!important;
    padding-left: $size-lg!important;
    padding-right: $size-lg!important;

    @include mobile(){
        padding-left: $size-sm!important;
        padding-right: $size-sm!important;
    }
}