.footer {
    background-color: $footer-color;
    color: white!important;

    a, h1, h2, h3, h4, h5 {
        color: white!important;
        font-size: 1.1rem!important;
        text-decoration: unset;
    }

    .bi::before {
        margin-right: 8px;
    }

    .footer__brand {
        .footer__heading {
            @extend .navbar-brand;
            padding: unset;
        }

        .footer__content {
            li {
                list-style: none;

                &:not(:last-of-type) {
                    margin-bottom: $spacing-sm;
                }


            }
        }
    }

    .footer__nav {
        @include tablet() {
            text-align: left !important;
            margin: $spacing-md 0;

            .nav-link {
                padding-left: unset !important;
            }
        }

        .nav-link {
            &:hover {
                color: white !important;
                text-decoration: underline;
            }

            &:first-of-type {
                padding-top:unset!important;
            }
        }
    }

    .footer__webmaster {
        @include tablet() {
            text-align: left!important;
        }
    }



}