.footer {    
    background-color: $footer-color;
    color: white;

    a {
        color: white;
    }

    .row {
        padding-top: $size-xl;
        padding-bottom: $size-xl;
        margin-top:unset;
        margin-bottom: unset;
    }
    .footer__heading {
        @extend .navbar-brand;
        padding:unset;
    }

    @include tablet(){
        .footer__item {
            text-align: left!important;
            margin-bottom: $size-lg;
        }
    }

    .footer__content {
        li {
            list-style: none;

            &:not(:last-of-type) {
                margin-bottom: $size-md;
            }
        }
    }
   
}