.footer {    
    background-color: $footer-color;
    color: white;

    a {
        color: white;
    }

    .footer__heading {
        @extend .navbar-brand;
        padding:unset;
    }

    @include tablet(){
        .footer__item {
            text-align: left!important;
            margin-bottom: $spacing-md;
        }
    }

    .footer__content {
        li {
            list-style: none;

            &:not(:last-of-type) {
                margin-bottom: $spacing-md;
            }
        }
    }
   
}