header {
    padding: 8px 0;


    .navbar {
        @include tablet() {
            .nav-link {
                &::before {
                    font-family: 'bootstrap-icons';
                    content: '\F27B';
                    font-size: 12px;
                }
            }
        }
    }
}