.row {
    margin-top: $size-lg*2;
    margin-bottom: $size-lg*2;

    @include tablet() {
        margin-top: $size-lg;
        margin-bottom: $size-lg;
    }

    &--img {
        margin-top:$size-lg;
        margin-bottom:$size-lg;
    }
}